<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>food</title>
  <link rel=stylesheet href=/static/css/login-hash-6ba601f3.css>
  <link rel=stylesheet type=text/css href=/static/vendor/bootstrap/css/bootstrap.min.css>
  <link rel=stylesheet type=text/css href=/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css>
  <link rel=stylesheet type=text/css href=/static/fonts/iconic/css/material-design-iconic-font.min.css>
  <link rel=stylesheet type=text/css href=/static/css/util.css>
  <link rel=stylesheet type=text/css href=/static/css/main.css>
  <link href=/static/css/app.704a2d30d86bbf5b525079102d5314c9.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=//at.alicdn.com/t/font_1034599_8gpv7eccr76.js></script>
<script src=/static/vendor/jquery/jquery-3.2.1.min.js></script>
<script src=/static/js/main.js></script>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.75d1e58d5a338b523213.js></script>
<script type=text/javascript src=/static/js/app.b793979b285c21d6edf9.js></script>
</body>
</html>
